<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AreGamersStreaming.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AreGamersStreaming.Properties.Settings>
            <setting name="Bootatstartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Minamizeatstart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HowOftenToCheck" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TwitchAPI" serializeAs="String">
                <value>https://api.twitch.tv/kraken/</value>
            </setting>
            <setting name="TwitchJSONHeaderv3" serializeAs="String">
                <value>Accept: application/vnd.twitchtv.v3+json</value>
            </setting>
            <setting name="TwitchJSONHeaderv2" serializeAs="String">
                <value>Accept: application/vnd.twitchtv.v2+json</value>
            </setting>
            <setting name="TwitchAPIStream" serializeAs="String">
                <value>https://api.twitch.tv/kraken/streams/</value>
            </setting>
        </AreGamersStreaming.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
